@model PIHLSite.Models.PenaltyRecord

@{
    ViewData["Title"] = "Create";
}
<div class="bg-white border border-primary rounded">
    <h1>Add Penalty to Game</h1>

    <h4>PenaltyRecord</h4>
    <hr />
    <div class="row">
        <div class="mx-auto">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div><p class="text-danger">@TempData["Message"]</p></div>
                <div class="form-group">
                    <label asp-for="GameId" class="control-label" hidden></label>
                    <select asp-for="GameId" class="form-control" asp-items="ViewBag.GameId" hidden></select>
                </div>
                <div class="form-group">
                    <label asp-for="PlayerId" class="control-label"></label>
                    <select asp-for="PlayerId" class="form-control" asp-items="ViewBag.PlayerId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="PenaltyId" class="control-label"></label>
                    <select asp-for="PenaltyId" class="form-control" asp-items="ViewBag.PenaltyId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Pim" class="control-label"></label>
                    <input asp-for="Pim" class="form-control" />
                    <span asp-validation-for="Pim" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
