@model PIHLSite.Models.Game

@{
    ViewData["Title"] = "Create";
}
<div class="bg-white border border-primary rounded">
    <h1>Create A Game Record</h1>
    <hr />
    <div class="row">
        <div class="mx-auto">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="GameDate" class="control-label"></label>
                    <input asp-for="GameDate" class="form-control" value="@DateTime.Now" />
                    <span asp-validation-for="GameDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HomeScoreTotal" class="control-label"></label>
                    <input asp-for="HomeScoreTotal" class="form-control" value="0" readonly/>
                    <span asp-validation-for="HomeScoreTotal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AwayScoreTotal" class="control-label"></label>
                    <input asp-for="AwayScoreTotal" class="form-control" value="0" readonly/>
                    <span asp-validation-for="AwayScoreTotal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AwayTeamId" class="control-label"></label>
                    <input asp-for="AwayTeamId" class="form-control" />
                    <span asp-validation-for="AwayTeamId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HomeTeamId" class="control-label"></label>
                    <input asp-for="HomeTeamId" class="form-control" />
                    <span asp-validation-for="HomeTeamId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
