@page
@model PIHLSite.Areas.Identity.Pages.Account.ForgotPasswordConfirmModel
@{
    ViewData["Title"] = "ForgotPasswordConfirm";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml"; 
}
<h4>
    A Confirmation Email has been sent should you have a PIHL account.
</h4>
<a asp-controller="Home" asp-action="Index">Back to Homepage</a>
