@page
@model PIHLSite.Areas.Identity.Pages.Account.ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "ResetPasswordConfirmation";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}
<div class="bg-white border border-primary rounded">
    <h1>Your Password has been Reset!</h1><br/><br/>
    <p>Return to the HomePage and try logging in again!<br/> <a asp-area="" asp-controller="Home" asp-action="Index">Home</a></p>
</div>