@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-white">@ViewData["Title"]</h1>

<p style="color:white">This site was created for the Paris Inustrial Hoceky League and its Administrator 
    Christopher Thoms. Site use is restricted to those with approval of the PIHL
    to track league statistics and scores</p>
